<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>jepsite</title>
  <link rel="stylesheet" href="/css/style.css">
  
</head>
<body>

  <!-- Navbar -->
  <header>
    <div class="logo">
      <a href="#home" class="active"><span >jepmem</span></a>        
    </div>
    
    <nav class="nav-links">
      <a href="#home">Home</a>
      <a href="#projects">Projects</a>
      <a href="#performance">Hobby</a>
      <a href="#minigame">Mini Game</a>
      <a href="#contact">Contact</a>
    </nav>
  </header>

  <!-- Main content -->
   <!-- Home -->
  <main>
    <section id="home" class="home-section">
      <div class="content">
        <img src="/images/myface.png" >
        <div class="text">
         <h1>👋 Hellooooo</h1>
          <p>My name's Jeep or Weerapat Thaiprasit <br>
          I create this web to show my content, take a look at it <br> 
          </p>
        </div>
        
      </div> 
    </section>
    <!-- Projects -->
    <section id="projects" class="projects-section">
      <h1>📊 Projects</h1>
      <p>My Machine Learning, Web-Dev, Data Analysis Works</p>

      <div class="projects-container">

      <div class="project-card">
        <h3>💻🛠️ E-commerce Website</h3>
        <div class="canva">
        <a href="https://www.canva.com/design/DAGz3TZjB2Y/0K-W3NADWhHhOMoCTKx-xQ/edit?utm_content=DAGz3TZjB2Y&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" target="_blank">
        <span>more detail here</span>
        <img src="images\canva-app-logo-on-a-transparent-background-free-png.png" alt="TikTok Logo">
        </a>
        </div>
        <img src="images\JPNpic.png">
        <p>A full-stack e-commerce web application that platform supports user authentication (sign-in/sign-up),
        product listings, shopping cart management, checkout process,
        and automatic stock deduction in database after confirmed
        purchases.
        </p>
        <span>Tools: Node.js, Express, EJS, and PostgreSQL</span>
      </div>

      <div class="project-card">
        <h3>📈💎 Diamond Price Prediction</h3>
        <img src="images\diamond.png">
        <p>Applied Random Forest Regression to predict diamond prices with proper data cleaning and preprocessing.</p>
        <span>Tools: Python, Numpy, pandas, scikit-learn</span>
      </div>

      <div class="project-card">
        <h3>📈🥤 Forecasting KO (Coca-Cola) Stock Price</h3>
        <div class="canva">
        <a href="https://www.canva.com/design/DAG4BDAreFw/J0jw-RM3PCf041LsN0Cfag/edit?utm_content=DAG4BDAreFw&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" target="_blank">
        <span>more detail here</span>
        <img src="images\canva-app-logo-on-a-transparent-background-free-png.png" alt="TikTok Logo">
        </a>
        </div>
        <img src="images\Forecast KO SPSS.png">
        <p>Forecasting KO (Coca-Cola) Stock Price Using Regression
Analysis</p>
        <span>Tools: SPSS</span>
      </div>

      </div>
    </section>
    <!-- Performance -->
    <section id="performance" class="performance-section">
      <h1>🏆 Hobby</h1>
       <div class="social-link">
        <a href="https://www.tiktok.com/@jepmemz" target="_blank">
        <img src="images\tiktok.png" alt="TikTok Logo">
        <span>@jepmemz</span>
        </a>
        <h2>My Animation, Drawing and Gaming</h2>
        </div>
      <div class="content">
        <a href="https://www.tiktok.com/@jepmemz" target="_blank">
        <img src="images\tiktok2.png"> </a>
        <img src="images\tiktok3.png">
        
        </div>
      <div class="social-link2">
        <h2>also, I create a roblox game so u can play</h2>
        <a href="https://www.roblox.com/games/18272189444/I-dont-like-scripts-BETA" target="_blank">
        <img src="images\robloxlogo.png">
        <span>Obby Map</span>
        </a>
        <a href="https://www.roblox.com/games/18116698145/Abegging" target="_blank">
        <img src="images\robloxlogo.png">
        <span>Horror Map</span>
        </a>
      </div>
    </section>
    <!-- MiniGAME -->
    <section id="minigame">
      <h1>🎮 Mini Game</h1>
      <h2>Let's try it</h2>
      <button onclick="window.location.href='minigame'" class="btn">Play Now</button>
    </section>
    <!-- Contact -->
    <section id="contact" class="contact-section">
      <h1>📞 Contact me</h1>
      <div class="contact-container">
        <div class="contact">
          <a href="https://www.instagram.com/jepmem_/" target="_blank">
          <img src="images\ig.png"> </a></div>
        <div class="contact2">
          <a href="https://www.facebook.com/jepmem123/" target="_blank">
          <img src="public\images\fb.png"></a></div>
        <div class="canva">
        <img src="images\gmail.png" alt="TikTok Logo">
        <span>koonjeep5577@gmail.com</span>
        </div>
      </div>
    
    </section>
  </main>

</body>
</html>
